# list and their default functions

In [2]:
list = [1,2,5,"hi", "abc", 2.6]

In [4]:
list.append(8)

In [5]:
list

[1, 2, 5, 'hi', 'abc', 2.6, 8]

In [7]:
copied = list.copy()

In [8]:
copied

[1, 2, 5, 'hi', 'abc', 2.6, 8]

In [9]:
print(list.index(5))

2

In [12]:
list.pop(2)

5

In [13]:
list

[1, 2, 'hi', 'abc', 2.6, 8]

In [15]:
list.remove("hi")

In [16]:
list

[1, 2, 'abc', 2.6, 8]

# Dictionaries and their default functions

In [40]:
temp = {"name" : "alpha", "City" : "Delhi", "Age": 21, "Nation" : "India"}

In [41]:
temp

{'name': 'alpha', 'City': 'Delhi', 'Age': 21, 'Nation': 'India'}

In [42]:
temp.get("City")

'Delhi'

In [43]:
temp["Age"]

21

In [44]:
temp.values()

dict_values(['alpha', 'Delhi', 21, 'India'])

In [45]:
temp.keys()

dict_keys(['name', 'City', 'Age', 'Nation'])

In [46]:
temp.pop('Age')

21

In [47]:
temp

{'name': 'alpha', 'City': 'Delhi', 'Nation': 'India'}

In [48]:
temp.popitem()

('Nation', 'India')

In [49]:
temp

{'name': 'alpha', 'City': 'Delhi'}

In [50]:
temp["name"] = "Beta"

In [51]:
temp

{'name': 'Beta', 'City': 'Delhi'}

# Sets and their default functions

In [52]:
value = {1,22,2,2,4,6,9,98,56,9}

In [53]:
value

{1, 2, 4, 6, 9, 22, 56, 98}

In [54]:
value.add(100)

In [55]:
value

{1, 2, 4, 6, 9, 22, 56, 98, 100}

In [57]:
value.clear()

In [58]:
value

set()

In [59]:
value = {1,3,6,9,5,6,7}

In [60]:
value

{1, 3, 5, 6, 7, 9}

In [62]:
value.pop()

1

In [63]:
value

{3, 5, 6, 7, 9}

# Tuples and their default methods

In [70]:
tup = (1,58,65,2,89,2,88,2,66,2)

In [71]:
tup.count(2)

4

In [73]:
tup.index(89)

4

# Strings and their default functions

In [77]:
name = "joseph"

In [78]:
name

'joseph'

In [79]:
print(name.capitalize())

Joseph

In [80]:
name.casefold()

'joseph'

In [82]:
name.count("o")

1

In [86]:
print(name.islower())

True

In [87]:
name.split("o")

['j', 'seph']